.playerBody {
	padding: 1.875rem;
	flex: 0.8;
	height: 100vh;
	color: white;
	overflow-y: scroll;
	background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

.playerBody::-webkit-scrollbar {
	display: none;
}
