.bodySongs {
	margin: 1.25rem -1.875rem;
}

.bodySongs__icons {
	display: flex;
	align-items: center;
}

.bodySongs__icons > .MuiSvgIcon-root {
	margin-right: 1.25rem;
}

.bodySongs__shuffle {
	font-size: 3.5em !important;
	margin-left: 3.125rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.bodySongs__shuffle:hover {
	transition: 100ms transform ease-in;
	transform: scale(1.08);
}
